*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: white;
    height: 60px;   
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
}

.logo-container{
    width: 141px;
    height: 60px;   
    margin-left: 130px;
}

.search-bar-container{
    background: white;
    border: 1px solid #E0E0E0;
    width: 420px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar{
    width: 340px;
    height: 36px;
    border-style: none;
    margin-left: 10px;
    /*border: 1px solid blue;*/
}

.search-bar:focus{
    border: 1px solid blue;
    border-radius: 8px;
}

.search-bar-container button{
    width: 60px;
    height: 32px;
    border-style: none;
    border-radius: 8px;
    background: #2e2e2e;
    margin-right: 3px;
    color: white;
}
nav ul{
    margin-left: 70px;
}
nav ul li{
    float: left;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding-left: 25px;
    padding: 8px;
    /*border: 1px solid black;*/
    margin-left: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

nav ul li a:hover{
    background: #f1f1f1;
    border-radius: 8px;
}

.highlight{
    margin-left: 20px;    
    border-left: 1px solid #E0E0E0;
    padding-left: 20px;       
}

.main-nav{
    margin-top: 5px;
    margin-left: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: stretch;    
}

.main-nav ul li{
    list-style: none;
    float: left;    
}

.main-nav ul li a{
    padding: 6px 12px 6px 12px;    
    border: 1px solid #E0E0E0;    
    font-size: 14px;
    margin-right: 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    color: black;    
}

.content-container{
    margin-top: 7px;
    width: 1050px;
    height: 320px;
    margin-left: 147px;        
}

.content-container img{
    border-radius: 10px;
    position: absolute; 
}

.content-container figcaption{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 18px;
    color: white;
    height: 30px;
    width: 200px;
    top: 250px;
    border-radius: 8px;
    background: #FF7A00;
}

.content-container figcaption i{    
    padding-right: 10px;    
}

.content-container-flex{
    display: flex;
    justify-content: space-around;
    margin-left: 147px;
    width: 1050px;    
    height: 150px;    
    align-items: center;
}

.item{
    width: 250px;
    height: 120px;    
    border-radius: 10px;
}

.item1{background-image: url(img/img_violao.png);}
.item2{background-image: url(img/img_ukulele.png);}
.item3{background-image: url(img/img_viola.png);}
.item4{background-image: url(img/img_baixo.png);}